.delete-btn {
    background: #fa9c9c;
    color: #000;
}


.grid-container {
    display: grid;
    grid-template-columns: 40% 30% auto;
    font-size: 1.15rem;
    /* border: 2px solid black; */
}

.heading-container {
    margin: 1.75em 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #808080;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5em;
    font-size: 1.15rem;
    font-weight: 600;
    word-wrap: break-word;
}




